html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

body {
    font-family: "Lexend", "Arial", sans-serif;
    color: black;
    background-image: url("bg.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: 70% 50%;
    position: relative;
    display: flex; /* Or grid, if you're using grid layout */
    flex-direction: column;
    min-height: 100vh; /* Ensures the body always covers the viewport height */
    line-height: 1.3em;
}

body canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1; /* Ensure it stays behind your content  */
}

.content {
  margin-top: 1em;
  margin-bottom: auto;
  margin-right: 0em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-left: auto;
  text-align: right;
  width: 95%;
  max-width: 30em;
  background-color: ;
  border-radius: 10px;
}

.buttonbar {
  height: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.disable {
 float: left;
 border-radius: 5px;
 background-color: rgba(0,0,0,0);
 border: none;
 color: #fbffd6;
 text-align: center;
 text-decoration: none;
 text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), -2px 2px 1px rgba(0, 0, 0, 0.3), 2px -2px 1px rgba(0, 0, 0, 0.3), -2px -2px 1px rgba(0, 0, 0, 0.3), 2px 0px 1px rgba(0, 0, 0, 0.3), -2px 0px 1px rgba(0, 0, 0, 0.3), 0px -2px 1px rgba(0, 0, 0, 0.3), 0px 2px 1px rgba(0, 0, 0, 0.3);
 font-size: 0.8em;
}

.disable:hover {
 color: black;
 text-shadow: none;
 background-color: #fbffd6;
}

h1 {
  text-shadow: 2px 2px 1px #fbffd6, -2px 2px 1px #fbffd6, 2px -2px 1px #fbffd6, -2px -2px 1px #fbffd6, 2px 0px 1px #fbffd6, -2px 0px 1px #fbffd6, 0px 2px 1px #fbffd6, 0px -2px 1px #fbffd6;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  text-shadow: 1px 1px 2px #fbffd6, -1px 1px 1px #fbffd6, 1px -1px 2px #fbffd6, -1px -1px 1px #fbffd6, 1px 0px 2px #fbffd6, -1px 0px 1px #fbffd6, 0px 1px 2px #fbffd6, 0px -1px 1px #fbffd6;
  margin-bottom: 0.2em;
  padding-bottom: 0;
  font-size: 1.4em;
}

img {
  width: 100%;
  min-width: 300px;
  height: auto;
}

a {
  padding-left: 3px;
  padding-right: 3px;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-style: dotted;
  color: black;
}

a:hover {
  color: black;
  background-color: yellow;
  text-shadow: none;
}

.section {
  margin-bottom: 0.5em;
  max-width: 40em;
  margin-left: auto;
}

.heading {

}

.section .sub {
  visibility: hidden;
}

.section:hover .sub, .section:active .sub {
  visibility: visible;
}

span.sub {
  background-color: #fbffd6;
}

a.sub {
  margin-left: 0.3em;
  margin-right: 0.3em;
  #fbffd6-space: nowrap;
}
