html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
    font-family: "Fraunces", serif;
    font-size:1em;
    background-image: url("bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 70% 50%;
}

body canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1; /* Ensure it stays behind your content */
}

.content {
  margin-top: 0;
  margin-right: 2em;
  text-align: right;
}

.buttonbar {
  height: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.disable {
font-family: "Fraunces", serif;
 float: left;
 border-radius: 5px;
 background-color: rgba(0,0,0,0);
 border: none;
 color: #c5dbd8;
 text-align: center;
 text-decoration: none;
 text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), -2px 2px 1px rgba(0, 0, 0, 0.3), 2px -2px 1px rgba(0, 0, 0, 0.3), -2px -2px 1px rgba(0, 0, 0, 0.3), 2px 0px 1px rgba(0, 0, 0, 0.3), -2px 0px 1px rgba(0, 0, 0, 0.3), 0px -2px 1px rgba(0, 0, 0, 0.3), 0px 2px 1px rgba(0, 0, 0, 0.3);
 font-size: 0.8em;
}

.disable:hover {
 color: black;
 text-shadow: none;
 background-color: #c5dbd8;
}

h1 {
  text-shadow: 2px 2px 1px #c5dbd8, -2px 2px 1px #c5dbd8, 2px -2px 1px #c5dbd8, -2px -2px 1px #c5dbd8, 2px 0px 1px #c5dbd8, -2px 0px 1px #c5dbd8, 0px 2px 1px #c5dbd8, 0px -2px 1px #c5dbd8;
}

img {
  max-width: 50%;
  height: auto;
}

a {
  text-decoration: none;
  color: #c5dbd8;
}

a:hover {
  color: black;
  background-color: #c5dbd8;
  text-shadow: none;
}

.section {
  margin-bottom: 0.5em;
  max-width: 40em;
  margin-left: auto;
}

.heading {

}

.section .sub {
  visibility: hidden;
}

.section:hover .sub, .section:active .sub {
  visibility: visible;
}

span.sub {
  background-color: #c5dbd8;
}

a.sub {
  margin-left: 0.3em;
  margin-right: 0.3em;
  white-space: nowrap;
}
